# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.log
did.bin
webull_session.json

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
android/local.properties
ios/.generated/

# OS
.DS_Store
Thumbs.db
